@font-face {font-family: 'Bitter ExtraBold';font-weight:800;font-style:normal;src: url("xara_font_1.woff?59") format("woff"), local('Bitter ExtraBold');}
@font-face {font-family: 'Roboto';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?59") format("woff"), local('Roboto');}
