.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:28px;text-decoration:none;text-transform: none;color:#100D0D;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Small_text {font-size:20px;}
.Text_body {font-size:14.67px;}
